<ActionBar title="EasyTicket - Organizador"></ActionBar>
<FlexboxLayout class="page">
    <div *ngIf="!isSelectingEvent()">
        <StackLayout class="form">
            <Label class="h3" [text]="title"></Label>
            <Label class="h4" [text]="getSelectedEventName()"></Label>
            <Label class="body" text="Seleccione el tipo de código de barras que desea verificar" textWrap="true"></Label>
            <Button class="btn btn-primary btn-rounded-sm" text="Código QR" (tap)="doScanQr()"></Button>
            <Button class="btn btn-primary btn-rounded-sm" text="PDF_417" (tap)="doScanPdf417()"></Button>
        </StackLayout>

        <Label class="login-label sign-up-label" (tap)="unSelectEvent()">
            <FormattedString>
                <Span [text]="'Seleccionar otro evento'"></Span>
            </FormattedString>
        </Label>

        <Label class="login-label sign-up-label" (tap)="doLogout()">
            <FormattedString>
                <Span [text]="'Cerrar sesión'"></Span>
            </FormattedString>
        </Label>
    </div>

    <div *ngIf="isSelectingEvent()">
        <br>
        <Label class="h3" [text]="message"></Label>
        <Label class="body" text="Lista de eventos" textWrap="true"></Label>
        <br>
        <ListView [items]="events" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-country="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="horizontal" class="list-group-item">
                    <Label [text]="country.name"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
        <Label class="login-label sign-up-label" (tap)="doLogout()">
            <FormattedString>
                <Span [text]="'Cerrar sesión'"></Span>
            </FormattedString>
        </Label>
    </div>
</FlexboxLayout>