<FlexboxLayout class="page">
	<StackLayout class="form">
		<Image class="logo" src="~/images/ticket.png"></Image>
		<Label class="header" text="EasyTicket"></Label>

		<StackLayout class="input-field">
			<TextField class="input" hint="Usuario" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.username" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" hint="Contraseña" secure="true" [(ngModel)]="user.password" [returnKeyType]="'done'" (returnPress)="submit()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button [text]="'Iniciar sesión'" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
	</StackLayout>
</FlexboxLayout>
